{{#post}}
	<div>
		<div class="main">
			<h3>{{title}}</h3>
			<div class="post_info">
				<span>作者:{{author}} .{{date format="YYYY/MM/DD"}}</span>
			</div>
			<div class="markdown-body">{{content}}</div>
		</div>
		<span id="pid">{{id}}</span>
		<span id="url">{{url}}</span>
	</div>
{{/post}}